.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
}

.filters {
  min-width: 35%;
  padding: 2em 20px 2em 0;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.listings {
  flex-grow: 1;
  padding: 2em 0 2em 20px;
}
