.container {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
}

.filters {
  min-width: 35%;
  padding: 2em 20px 2em 0;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.listings {
  flex-grow: 1;
  padding: 2em 1rem 2em 20px;
  height: calc(100vh - 80px);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--border);
  }
}

.sort-container {
  margin-bottom: 2rem;
}

.header {
  color: var(--dark-text);
  font-size: 1.25rem;
  font-weight: 600;
}
