@use '../../styles/mixins';

.filter {
  background: transparent;
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  & > h3 {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.dark {
  & > h3 {
    color: var(--dark-text);
    text-align: left;
  }
}

.dropdowns {
  display: flex;
  column-gap: 2em;

  @include mixins.mobile {
    flex-wrap: wrap;
    row-gap: 1em;
  }
}

.checkboxes {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1em;

  @include mixins.mobile {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 0.5em;
  }
}

.clear {
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--dark-text);
  border-radius: 0.5em;
  border: solid 1px var(--placeholder);
  font-size: 1rem;
  font-weight: 600;
  background: none;
  height: 55px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.11s;

  &:hover {
    border-color: var(--dark-text);
  }
}
