.main {
  padding: 2rem 0;
  min-height: calc(100vh - 20px);
  position: relative;
}

.header {
  margin-bottom: 1rem;
}

.empty {
  text-align: center;
  font-size: 4rem;
  color: var(--gray-text);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
