@use '../../../styles/mixins' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: transparent;
  color: #fff;
  position: absolute;
  z-index: 10;

  & a {
    font-weight: 600;
  }
}

.header-dark {
  color: var(--dark-text);
  border-bottom: 1px solid var(--border);

  & .button:hover {
    border: solid 1px var(--blue);
    background-color: var(--blue);
    color: #fff;
  }
}

.header-dark {
  color: var(--dark-text);
}

.nav {
  width: 70rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  align-items: center;

  & > a {
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  column-gap: 5em;
  align-items: center;

  & > a {
    transition: color 0.2s;
  }

  & > a:hover {
    color: var(--border);
  }

  @include mobileL {
    display: none;
  }
}

.button {
  border: solid 1px var(--border);
  border-radius: 0.4rem;
  padding: 0.8em 0em;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s, color 0.2s;

  &:hover {
    border: solid 1px #fff;
    background-color: #fff;
    color: var(--dark-text);
  }

  & > a {
    padding: 0.8em 2em;
  }
}

.hamburger {
  font-size: 1.8rem;
  cursor: pointer;
  display: none;

  @include mobileL {
    display: block;
  }
}
