.image-loader {
  margin-top: 1rem;
  width: 100%;
  height: 10rem;
  padding: 0.5em 0;
  border: 1px solid var(--placeholder);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    width: 25%;
  }
}

.active {
  justify-content: flex-start;
  height: auto;
}

.images-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 0.5em;
  padding: 0 0.5em;

  & > button {
    background: none;
    border: solid 1px var(--border);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2rem;
    margin: auto;
  }
}

.image {
  position: relative;

  & > img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.remove {
  position: absolute;
  right: 0;
  margin: 4px 4px 0 0;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.5rem;
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
