.error {
  width: 100%;
  color: #c51a1a;
  background-color: rgba(240, 37, 37, 0.25);
  border: 1px solid var(--error);
  border-radius: 5px;
  padding: 15px 10px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: #c51a1a;
  font-size: 1.3rem;
  cursor: pointer;
}
