.new-listing-form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  & input {
    border: none;
    border-bottom: 1px solid var(--placeholder);
    width: 100%;
    padding: 0.5em 0;
    outline: none;
  }

  & > div {
    display: flex;
    align-items: center;
  }
}

.title,
.description-title {
  width: 40rem;
}

.description-title {
  align-self: flex-start;
}

.checkboxes {
  display: flex;
  justify-content: space-evenly;
  column-gap: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.description {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--placeholder);
  padding: 0.5em 0;
  width: 100%;
  resize: none;
  height: 8rem;

  &::placeholder {
    color: var(--placeholder);
  }
}
