.footer {
  text-align: center;
  border-top: 1px solid var(--border);
  padding: 0 1em;
}

.content {
  margin: 2em 0;
  display: flex;
  flex-direction: column;

  & > a {
    font-weight: 800;
    font-size: 1.125rem;
    letter-spacing: 0.1em;
    margin-bottom: 0.3em;
  }

  & > span {
    color: var(--gray-text);
  }
}

.authors a {
  text-decoration: underline;
  transition: color 0.1s;

  &:hover {
    color: var(--dark-text);
  }
}
